/* Pallette 
#2E1114 - Dark Purple
#501B1D - Purple/Red
#64485C - Medium Purple
#83677B - Light Purple
#ADADAD - Light Gray
*/

*, *:before, *:after {
    box-sizing: border-box;
}

/* TITLE LOGO */

/* Decorative Squares */

#square-1 {
    height: 10px;
    width: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #64485C;
}

#square-2 {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    background-color: #501B1D;
}

#square-3 {
    height: 30px;
    width: 30px;
    background-color: #2E1114;
}

#square-4 {
    height: 10px;
    width: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #64485C;
}

#square-5 {
    height: 50px;
    width: 340px;
    margin-left: -40px;
    margin-top: 10px;
    background-color: #ADADAD;
    z-index: -1;
}

#left-hand-squares {
    display: flex;
    flex-direction: column;
}

#right-hand-squares {
    display: flex;
    flex-direction: column;
}

#square-rows {
    display: flex;
    flex-direction: row;
}

#join-rectangle {
    display: flex;
    flex-direction: row;
}

/* Placement of image with text */

#logo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Logo text */

#logo-heading {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    position: absolute;
    margin-left: 60px;
    padding: 0;
}

#name {
    margin-top: -5px;
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #2E1114;
}

#sub-heading {
    margin: 0;
    margin-top: -6px;
    margin-left: 170px;
    padding: 0;
    color: #2E1114;
}

/* Blog Section */

#section-blog,
#section-about {
    display: block;
    width: 75%;
    text-align: center;
    align-self: center;
    padding: 1.5em 1.5em;
    background-color: #83677B;
    height: 250px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 40px;
    z-index: -1;
}

.backsquare {
    position: absolute;
    width: 80%;
    height: 250px;
    background-color: #ADADAD;
    margin-top: -260px;
    margin-left: 35px;
    z-index: -1;
}

.inner-text {
    padding: 1em 1em;
}

.big-arrow-square-a,
.big-arrow-square-b {
    width: 60px;
    height: 60px;
    background-color:#2E1114;
}

.small-arrow-square-b,
.small-arrow-square-a {
    width: 20px;
    height: 20px;
    background-color: #ADADAD;
}

#arrow-container-row-a {
    position: absolute;
    display: flex;
    margin-top: -30px;
}

.arrow-left-a {
    margin-right: 30px;
    margin-left: -5px;
}

.arrow-tip {
    margin-left: 15px;
    margin-top: -30px;
}